@tailwind base;
@tailwind components;
@tailwind utilities;

.clip-path-trapezoid-reverse {
    clip-path: polygon(100% 0%, 100% 100%, 0% 100%, 20% 0%);
  }
  

.dark {
    @apply bg-gray-900 text-gray-100;
    }

.dark .pagination-button:hover {
      background-color: #374151 !important;
  }

/* Hide Google elements */
.goog-te-banner-frame {
  display: none !important;
  visibility: hidden !important;
}

.goog-te-gadget-icon {
  display: none !important;
}

body {
  top: 0 !important;
}

/* Prevent layout shift */
.goog-tooltip {
  display: none !important;
}

.goog-tooltip:hover {
  display: none !important;
}

.goog-text-highlight {
  background-color: transparent !important;
  border: none !important; 
  box-shadow: none !important;
}

.goog-te-banner-frame, .goog-te-menu-frame, .goog-te-ftab-frame {
  display: none !important;
  visibility: hidden !important;
}

.goog-tooltip, .goog-tooltip:hover {
  display: none !important;
}

.skiptranslate {
  display: none !important;
}

body {
  top: 0 !important;
}

/* Untuk smooth lines */
.connector-line {
  transition: all 0.3s ease;
}

/* Untuk menghindari garis terputus */
.transform {
  transform-style: preserve-3d;
}

/* Untuk menghilangkan scroll horizontal */
.tree-container {
  overflow-x: auto;
  padding: 20px 0;
}

/* Garis penghubung */
.connector-line {
  position: absolute;
  background: rgba(255,255,255,0.5);
}